{
	"botToken": "<BOTTOKEN>",
	"prefix": "sb!",
	"admins": [],
	"steamAPIkeys": [
		"<API Key 1>",
		"<API Key 2>"
	],
	"switchKeyAt": 50000,
	"accountsPerRequest": 500,
	"logs": "471135120347234314",
	"maintenance": false
}