{
	"botToken": "<BOTTOKEN>",
	"prefix": "sb!",
	"admins": [],
	"steamAPIkeys": [
		"<API Key 1>",
		"<API Key 2>"
	],
	"switchKeyAt": 50000,
	"accountsPerRequest": 500,
	"logs": "471135120347234314",
	"emojis": {
		"checkmark": "484008172273664030",
		"cross": "484008260211441664"
	},
	"activities": [
		{
			"type": "WATCHING",
			"value": "for steam bans"
		},
		{
			"type": "LISTENING",
			"value": "{prefix}"
		}
	],
	"activitiesSwitchDelay": 300000,
	"account": {
		"username": "<Steam Login Username>",
		"password": "<Steam Login Password>",
		"sharedSecret": "<Optional Shared Secret for 2FA>"
	},
	"maintenance": false
}
